body, h1, h2, h3{
  font-family: 'Raleway', sans-serif;
}

h1{
  color: rgb(18, 52, 86);
  font-size: 6ex;
}

a{
  color: rgb(170, 170, 187);
  text-decoration: underline;
}


.container-fluid{
  padding: 0;
}

ul{
  list-style-type: none;
}

/* Header */
#headerFilter{
  position: absolute;
  width: 100%;
  z-index: 2;
  margin-top: -57%;
  background-color: rgb(3, 139, 255);
  opacity: 0.5;
}
.wave{
  width: 10%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.6;
}

header h2, h5{
  text-align: center;
  color: white;
  opacity: 1;
}
nav{
  padding-top: 1.5ex;
}
nav ul{
  text-align: center;
  padding-left: 0;
}
nav ul li {
  display: inline-block;
  color: white;
}
#about {
  padding-right: 10px;
}
#search {
  padding-left: 10px;
}
header img{
  position: relative;
  z-index: 1;
}

/* Article */
article{
  margin-left: 5%;
}
blockquote{
  color: rgb(13, 108, 178);
  border-left: 3px solid rgb(144, 144, 144);
  font-size: 3ex;
  padding-left: 10px;
}
