body, h1, h2, h3{
  font-family: 'Raleway', sans-serif;
}

ul{
  list-style-type: none;
  display: inline;
}

ul li{
  display: inline;
}


/* Header */
header h2{
  text-align: center;
}
header h5{
  text-align: center;
}
