body, h1, h2, h3{
  font-family: 'Raleway', sans-serif;
}

h1{
  color: rgb(18, 52, 86);
  font-size: 6ex;
}

a{
  color: rgb(170, 170, 187);
  text-decoration: underline;
}

.container-fluid{
  padding: 0;
}

ul{
  list-style-type: none;
}

/** ----Header---- **/

#headerFilter{
  position: absolute;
  width: 100%;
  z-index: 2;
  margin-top: -57%;
  background-color: rgb(3, 139, 255);
  opacity: 0.5;
}
.wave{
  width: 10%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.6;
}

header h2, h5{
  text-align: center;
  color: white;
  opacity: 1;
}
nav{
  padding-top: 1.5ex;
}
nav ul{
  text-align: center;
  padding-left: 0;
}
nav ul li {
  display: inline-block;
  color: white;
}
#about {
  padding-right: 10px;
}
#search {
  padding-left: 10px;
}
header img{
  position: relative;
  z-index: 1;
}

/** ----Article---- **/
article{
  margin-left: 5%;
}
blockquote{
  color: rgb(13, 108, 178);
  border-left: 3px solid rgb(144, 144, 144);
  font-size: 3ex;
  padding-left: 10px;
}
#readActions{
  padding-left: 0.5em;
}
#readActions li{
  display: inline-block;
  font-family: 'FontAwesome';
  padding: 5px;
  margin-right: 1em;
  background: #AABBCC;
}
#readActions #share{
  background: #2971b0;
}
#readActions a{
  text-decoration: none;
  color: #fff;
}

#readActions a::before{
  padding: 7px;
  margin-left: -8px;
  background: rgb(19, 53, 81);
  border: 1px solid rgb(19, 53, 81);
  color: #fff;
}

/*@media (min-width: 600px){
  #readActions li{
  display: inline-block;
  }
}*/
#comment a::before{
  content:'\f075';
  color: white;
}
#later a::before{
  content:'\f0ee';
}
#share a::before{
  content:'\f14d';
}


/** ----Most Popular Posts---- **/

#posts h2{
  text-align: center;
  color: rgb(18, 52, 86);
}
.row{
  margin: 0;
}
.row a{
  padding: 0;
  border: none;
}
.row img{
  width: 100%;
}
.row div{
  padding: 0;
}
/*.thumbnail:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,90,150, 0.5);
  transition: all .3s linear;
}
.thumbnail:hover:before {
  background: none;
}*/
